<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>
    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find autosdv_sensor_kit_description)/config"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- lidar -->
    <joint name="lidar_joint" type="fixed">
      <origin  
        xyz="${calibration['sensor_kit_base_link']['lidar']['x']}
             ${calibration['sensor_kit_base_link']['lidar']['y']}
             ${calibration['sensor_kit_base_link']['lidar']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar']['roll']}
             ${calibration['sensor_kit_base_link']['lidar']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar']['yaw']}"
      />
      <parent link="sensor_kit_base_link"/>
      <child link="lidar"/>
    </joint>
    
    <link name="lidar">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>
    
    <!-- imu -->
    <joint name="imu_joint" type="fixed">
      <origin
        xyz="${calibration['sensor_kit_base_link']['imu_link']['x']}
             ${calibration['sensor_kit_base_link']['imu_link']['y']}
             ${calibration['sensor_kit_base_link']['imu_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['imu_link']['roll']}
             ${calibration['sensor_kit_base_link']['imu_link']['pitch']}
             ${calibration['sensor_kit_base_link']['imu_link']['yaw']}"
      />
      <parent link="sensor_kit_base_link"/>
      <child link="imu_link"/>
    </joint>

    <link name="imu_link">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>

    <!-- gnss -->
    <joint name="gnss_joint" type="fixed">
      <origin
        xyz="${calibration['sensor_kit_base_link']['gnss_base_link']['x']}
             ${calibration['sensor_kit_base_link']['gnss_base_link']['y']}
             ${calibration['sensor_kit_base_link']['gnss_base_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['gnss_base_link']['roll']}
             ${calibration['sensor_kit_base_link']['gnss_base_link']['pitch']}
             ${calibration['sensor_kit_base_link']['gnss_base_link']['yaw']}"
      />
      <parent link="sensor_kit_base_link"/>
      <child link="gnss_base_link"/>
    </joint> 
    <link name="gnss_base_link">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
      </inertial>
    </link>


    <!-- camera -->
    <joint name="zedxm_camera_joint" type="fixed">
      <origin
        xyz="${calibration['sensor_kit_base_link']['zedxm_camera_link']['x']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['y']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['zedxm_camera_link']['roll']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['pitch']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['yaw']}"
      />
      <parent link="sensor_kit_base_link"/>
      <child link="zedxm_camera_link"/>
    </joint>
    <xacro:zed_camera name="zedxm" model="zedxm" custom_baseline="0" enable_gnss="false">
      <origin
        xyz="${calibration['sensor_kit_base_link']['zedxm_camera_link']['x']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['y']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['z']}"
        rpy="${calibration['sensor_kit_base_link']['zedxm_camera_link']['roll']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['pitch']}
             ${calibration['sensor_kit_base_link']['zedxm_camera_link']['yaw']}"
      />
    </xacro:zed_camera>

  </xacro:macro>
</robot>
